.env
.DS_Store
venv/
__pycache__/
/archive/mydata
prac.py
/outputs
grok_data/
PR.json
logs/
grok_data_COPY/
output.json
output_CLEANED.json
annotations/
hydrated.json
dehydrated.json
grok_data_merged_copy/
hydrated.json
DISCUSSION.MD
notes.md
failed_discussion_conversations.jsonl
batch_files/
.vscode/
full_rehydrated.json
o.json
run_annotate.py
check_missing_toxicity_mappings.py
fully_hydrate.py
dehydrated_10k.json
full_rehydrated_10k.json